<!--
  **NOTE:** This is a template for index.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<!DOCTYPE html>
<html lang="en">

<head>
 <!--<script src="https://www.youtube.com/player_api">    </script>-->

  @import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
   -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
    <!-- BEGIN TRACKJS -->
    <script type="text/javascript">
      window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };
    </script>
    <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
    <!-- END TRACKJS -->
    <% } %>
      <meta charset="UTF-8">
      <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

</head>

  <body>
    <article>
      <h1>Leto <br>Redinger Dressage <br /> <span> <a href="http://redingerdressage.com" target="_blank">Gail Von Redinger</a></span></h1>
          <h1 ><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Contact</a></h1>

      <h2><span><a href="http://centerlinescores.com/Horse/Details/1106638#filterBy=scores">Scores</a></span></h2>
    </article>
    <div id="blurb">

    </div>
    <div class="container">
  <div class="row">
    <h1 ><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Contact</a></h1>
  </div>
</div>
    <div id="player"> </div>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h3 id="myModalLabel">Contact Redinger Dressage</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal col-sm-12" action="http://formspree.io/george@georgeredinger.com" method="POST">
          <div class="form-group">
            <input class="form-control required" placeholder="Your name" data-placement="top" data-trigger="manual" data-content="Must be at least 3 characters long, and must only contain letters." type="text" name="name">
          </div>

          <div class="form-group">
            <input class="form-control email" placeholder="email@you.com (so that we can contact you)" data-placement="top" data-trigger="manual" data-content="Must be a valid e-mail address (user@gmail.com)" type="email" name="_replyto">
          </div>

          <div class="form-group">
            <textarea class="form-control" placeholder="Anything for us?" data-placement="top" data-trigger="manual" style="height: 120px;" name="message"></textarea>
          </div>

          <input type="hidden" name="_next" value="http://leto.redingerdressage.com/thanks.html" />

          <div class="form-group">
            <input type="submit" value="Send"class="btn btn-success btn-lg pull-left"></input>
            <p class="help-block pull-left text-danger hide" id="form-error">&nbsp; The form is not valid. </p>
            <button class="btn btn-lg pull-right" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

</script>
<script type='text/javascript' src="http://netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
  </body>

  </html>

